<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a simple website created by Jorge Ledesma.
                Using the Weatherstack API and the Mapbox API 
                this website takes user input, gets the longitude and latitude
                coordinates then gets the current weather with a correspondin image.
            </p>
        </div>
        {{>footer}}
    </body>
</html>